
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* Variables */

$main-color: rgb(243, 114, 36);
$border-color: rgb(194, 192, 192);
$bright-color: rgb(255, 255, 255);


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.logo {
    position: fixed;
    top: 5vh;
    left: 5vh;
    z-index: 1000;
    transition: all .5s;
    img {
        width: 123px;
        height: 48px;
    }
}

/* Section Header */

.header {
    background: url('../image/kolo.png') no-repeat fixed;
    background-size: contain;
    border-bottom: 1px solid $border-color;
}
.hello {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 125px;
    .textHello {
        flex-grow: 2;
        h1 {
            opacity: 1;
            color: $main-color;
            font-size: 40px;
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
            text-align: left;
        }
    }
    .boxForm {
        border: 1px solid  $border-color;
        border-radius: 5px;
        background-color: $bright-color;
        width: 370px;
        text-align: center;
        margin: 40px;
        padding: 30px;
        h3 {
            font-weight: bold;
            padding-bottom: 10px;
        }
        p {
            padding-bottom: 10px;
        }
        input {
            width: 100%;
            padding: 5px;
            margin: 5px;
            border-radius: 5px;
            &:last-child {
                background-color: $main-color;
                color: $bright-color;
                border: none;
                height: 40px;
                margin-top: 30px;
                font-weight: bold;
                &:hover {
                    border: 2px solid $main-color;
                    background-color: $bright-color;
                    color: $main-color;
                    transition: 1s;
                }
            }
        }
        #checkbox {
            width: 15px;   
        }
        input.invalid {
            border: 3px solid red;
        }
        input.valid{
            border: 3px solid green;
        }
        &:hover {
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
        }
    }
}


/* Section cookies */

.cookies {
    margin-top: 70px;
    text-align: center;
    border-bottom: 1px solid $border-color;
    h3 {
        font-weight: bold;
    }
    p {
        margin-bottom: 70px;
    }
    .cookieBox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid $border-color;
        border-radius: 5px;
        width: 270px;
        height: 270px;
        text-align: center;
        margin-bottom: 70px;
        
        img {
            width: 150px;
        }
        h4 {
            font-weight: bold;
            padding-top: 30px;
        }
        &:hover {
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
        }
    }
}

/* Section Factory */

.factory {
    background: url('../image/kolo.png') no-repeat fixed;
    background-size: contain; 
    .displayFactory {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 70px;
        padding-bottom: 70px;
        .textFactory {
            flex-grow: 2;
            h3 {
                font-weight: bold;
            }
        }  
        img {
            width: 560px;
            height: 398px;
        }
    }   
}

footer {
    display: flex;
    align-items: center;
    opacity: 1;
    border-width: 1px 0px;
    border-radius: 0px;
    border-color: $border-color;
    border-style: solid;
    background-color: rgb(109, 110, 112);
    height: 170px;
    .contact {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $bright-color;
        .textContact {
            flex-grow: 2;
        }
       .icon {
           flex-grow: 1;
           padding: 5px; 
           font-size: 30px;
           border-radius: 5px;
           a {
               text-decoration: none;
               margin: 5px;
               color: $bright-color;
               opacity: 0.5;
               &:hover {
                   opacity: initial;
               }
           }
       }
    }
}

/* Media queries */

@media(max-width: 767px) {
    .hello {
        flex-direction: column;
        .boxForm {
            width: 300px;
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
        }
    }

    .cookies {
        .row {
            display: inline-grid;
        }
        .cookieBox {
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
        }
    }
    .factory {
        .displayFactory {
            flex-direction: column;
            img {
                width: 187px;
                height: 133px;
                margin-top: 50px;
            }
        }
    }
    
    footer {
        height: 200px;
        .contact {
            flex-direction: column;
        }
    }
    
}

@media(min-width: 768px) and (max-width: 991px) {

    .factory {
        .displayFactory {
            flex-direction: column;
            img {
                width: 373px;
                height: 265px;
            }
        }
    }
}

@media(min-width: 992px) and (max-width: 1199px) {

    .cookies {
        .cookieBox {
            width: 220px;
            height: 250px
        }
    }
    .factory {
        .displayFactory {
            img {
                width: 373px;
                height: 265px;
            }
        }
    }
}